In [1]:
import pandas as pd
import numpy as np
import os
import json
import glob

In [2]:
#get csv file list from a folder
path = 'data/retail_db/orders'
csv_files = glob.glob(path + "/par*")

In [3]:
# Read each csv file into DataFrame
#this will crate list of dataframe

# source_file_names = glob.glob("data/retail_db/*/part*")
source_file_names = csv_files
source_file_names
# orders_df = pd.read_csv("data/ratail_db/orders/part-00000")

['data/retail_db/orders\\part-00000']

In [4]:
import re

In [5]:
filew = []
for file in source_file_names:
    new = re.split('[/\\\]', file)
    print(type(new))
    string = "/".join(new)
    print(string)
    filew.append(string)

# print(filew)

<class 'list'>
data/retail_db/orders/part-00000

In [6]:
file = filew[0]
df = pd.read_csv(file,names=['order_id', 'order_date', 'order_customer_id', 'order_status'])

In [7]:
df1 = df[df['order_status'] == 'CLOSED']
df1

       order_id             order_date  order_customer_id order_status
0             1  2013-07-25 00:00:00.0              11599       CLOSED
3             4  2013-07-25 00:00:00.0               8827       CLOSED
11           12  2013-07-25 00:00:00.0               1837       CLOSED
17           18  2013-07-25 00:00:00.0               1205       CLOSED
23           24  2013-07-25 00:00:00.0              11441       CLOSED
...         ...                    ...                ...          ...
68827     68828  2014-04-20 00:00:00.0               5263       CLOSED
68839     68840  2014-05-11 00:00:00.0               4399       CLOSED
68847     68848  2014-05-22 00:00:00.0               6517       CLOSED
68851     68852  2014-05-29 00:00:00.0               4596       CLOSED
68862     68863  2014-06-16 00:00:00.0               3361       CLOSED

[7556 rows x 4 columns]

In [8]:
# source_file = glob.glob("data/retail_db/*/part*", recursive=True)
# source_file

In [9]:
# for file_name in source_file:
#     df = pd.read_csv(file_name, header=None)
#     print(f'Shape of {file_name} is {df.shape}')

In [10]:
os.makedirs('data/retail_db_json_pd/orders', exist_ok=True)

In [12]:
df.to_json('data/retail_db_json_pd/orders/part-00000', orient='records', lines=True)